.wrapper {
  position: relative;
}

li {
  cursor: pointer;
}

li:hover {
  color: #aeaeae;
}

img {
  max-width: 120px;
  min-height: 80px;
  margin-right: 1em;
}

.spinner-container {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: center;
}