<div class="wrapper mt-0">
  <div class="row w-75">
    <div class="current-video">
      <span *ngIf="selectedVideo">Playing:&nbsp;</span>
      <span class="video-title" (click)="openSelectedVideo()">{{selectedVideo?.title}}</span>
    </div>
  </div>
  <div class="row w-75">
    <div class="search-container">
      <input
        id="searchTerm"
        class="form-control"
        type="text"
        placeholder="Search for a youtube video..."
        [formControl]="term"
        (keyup.enter)="getVideos()" />
      <button
        id="videoSubmit"
        class="btn btn-primary"
        type="button"
        (click)="getVideos()">
        Search
      </button>
    </div>
  </div>
</div>
